<!--A03:2021 – Injection fix: use Django templates-->
{% extends "books/base.html" %}

{% block content %}
    {{ book.title }}<br/>
    {{ book.author }}<br/>
    {{ book.published }}<br/>
    <br/>
    Leave a comment:<br/>
    <form action="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="comment"><br/>
        <input type="hidden" name="book_slug" value="{book.slug}">
        <input type="submit" value="add comment">
    </form>
    <br/>
    {% for comment in comments %}
        {{ comment }}<br/>
    {% endfor %}
{% endblock %}