{% extends "books/base.html" %}

{% block content %}
    {% if user %}
        Hello, {{ user.username }}!<br/>
        <br/>
        <h2>Book list:</h2>
        <table>
            <thead>
                <th>Title</th>
                <th>Purchase</th>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>            
                    <td><a href="{{ book.get_url }}">{{ book.title }}</a></td>
                    {% if book.in_stock %}
                        <td><a href="#">Order</a></td>
                    {% else %}
                        <td>Sold out</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if user.is_staff %}
        <a href="statistics">Sales stats</a><br/>
    {% endif %}
    {% else %}
        Please log in: <br/>
        <form action="login" method="POST">
            {% csrf_token %}
            Username: 
            <input type="text" name="username"><br/>
            Password: 
            <input type="password" name="password"><br/>
            <input class="button" type="submit" value="login">
        </form>
        <br/>
        Don't have an account yet? 
        <a href="{% url 'register' %}">Register</a>
    {% endif %} 
{% endblock %}