<!--# 4. A07:2021 – Identification and Authentication Failures fix: 
    use Django built-in UserCreationForm and User model-->

{% extends "books/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    {% for error in registration_form.errors.values %}
        {{ error }}
    {% endfor %}

    {% for field in registration_form %}
        <div>
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Register">
</form>
{% endblock %}